@import "reset";

body {
  padding: 20px;
  line-height: 30px;
}

span {
  display: inline-block;
  vertical-align: middle;
}

pre {
  font-size: 12px;
  text-align: left;
  background: #eee;
  line-height: 12px;
  padding-top: 10px;
  border-radius: 10px;
  padding-right: 40px;
}

.notice {
  color: #eb444e;
  display: block;
  font-size: 12px;
}

.red {
  color: #eb444e;
}

.list {
  padding: 20px 0;
}

.border-radius1 {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #eb444e;
}

.border-radius2 {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #eb444e;
}

.ul_show {
  width: 100%;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    text-align: center;
  }
}

.box-shadow1 {
  width: 80px;
  height: 40px;
  background: #eeeeee;
  box-shadow: 4px 2px 6px #333333;
  margin: 20px auto;
}

.box-shadow2 {
  width: 80px;
  height: 40px;
  background: #eeeeee;
  box-shadow: 4px 2px 6px #333333 inset;
  margin: 20px auto;
}

.box-shadow3 {
  width: 80px;
  height: 40px;
  background: #eeeeee;
  box-shadow: 4px 2px 6px #f00, -4px -2px 6px #000, 0px 0px 12px 5px #33CC00 inset;
  margin: 20px auto;
}

.lan {
  padding-top: 20px;
  em, img {
    display: inline-block;
    vertical-align: top;
  }
  pre {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
  }
  p {
    margin: 10px 0;
  }
  textarea {
    width: 100%;
    overflow-y: visible;
    min-height: 160px;
    border: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    background: #eeeeee;
  }
}

.border-image {
  width: 200px;
  height: 160px;
  background: #eeeeee;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  border: 70px solid #ddd;
  margin-top: 20px;
}

.border-image1 {
  border-image: url("../img/border-img2.jpg") 70 repeat;
}

.border-image2 {
  border-image: url("../img/border-img2.jpg") 70 round;
}

.border-image3 {
  border-image: url("../img/border-img2.jpg") 70 stretch;
}

.gradient {
  width: 200px;
  height: 140px;
  display: inline-block;
  text-align: center;
  line-height: 200px;
  margin-right: 40px;
  color: #fff;
}

.gradient1 {
  background-image: linear-gradient(to bottom, red, blue);
}

.gradient2 {
  background-image: radial-gradient(at bottom, blue, yellow);
}

.gradient3 {
  background-image: linear-gradient(to right, red, green, blue, yellow, orange);
}

.text-shadow {
  font-size: 30px;
  color: #333333;
  text-shadow: 1px 2px 1px red;
}

.background-origin {
  li {
    width: 220px;
    height: 100px;
    border: 20px dashed #000;
    padding: 20px;
    font-weight: bold;
    color: #000;
    background: #ccc url(http://static.mukewang.com/static/img/logo_index.png) no-repeat;
    background-origin: content-box;
    float: left;
    margin-right: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
  }
  .background-origin1 {
    background-origin: border-box;
  }
  .background-origin2 {
    background-origin: padding-box;
  }
  .background-origin3 {
    background-origin: content-box;
  }
}

.clip {
  li {
    width: 220px;
    height: 100px;
    border: 20px dashed #000;
    padding: 20px;
    font-weight: bold;
    color: #000;
    background: #ccc url(http://static.mukewang.com/static/img/logo_index.png) no-repeat;
    background-origin: border-box;
    background-clip: padding-box;
    float: left;
    margin-right: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
  }
  .clip1 {
    background-clip: border-box;
  }
  .clip2 {
    background-clip: padding-box;
  }
  .clip3 {
    background-clip: content-box;
  }
  .clip4 {
    background-clip: no-clip;
  }
}

.bg-size {
  li {
    background: url(http://static.mukewang.com/static/img/logo_index.png) no-repeat;
    width: 300px;
    height: 140px;
    border: 1px solid #999;
    background-size: cover;
    float: left;
    margin-right: 40px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #eee;
  }
  .bg-size1 {
    background-size: auto;
  }
  .bg-size2 {
    background-size: 200px 50px;
  }
  .bg-size3 {
    background-size: 40% 20%;
  }
  .bg-size4 {
    background-size: cover;
  }
  .bg-size5 {
    background-size: contain;
  }
}

.bg-demo {
  width: 300px;
  height: 140px;
  border: 1px solid #333333;
  background-image: url("../img/bg1.jpg"),
  url("../img/bg2.jpg"),
  url("../img/bg3.jpg");
  background-position: left top, 100px 0, 200px 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.bg-demo2 {
  width: 300px;
  height: 140px;
  border: 1px solid #333;
  background: url("../img/bg1.jpg") no-repeat left top,
  url("../img/bg2.jpg") no-repeat 100px 0,
  url("../img/bg3.jpg") no-repeat 200px 0;
}

.ex {
  width: 560px;
  height: 50px;
  font: bold 0/50px Arial;
  margin: 40px auto 0;
  background: #f65f57;
  /*制作圆*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*制作导航立体风格*/
  box-shadow: 3px 3px 0px #b64b41;
  li {
    position: relative;
    display: inline-block;
    padding: 0 16px;
    font-size: 13px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    list-style: none outside none;
    &:first-child {
      margin-left: 22px;
      &:before {
        background: none;
      }
    }
    &:last-child {
      &:after {
        background: none;
      }
    }
    &:before, &:after {
      content: "";
      width: 1px;
      height: 25px;
      background: #333333;
    }
    &:before {
      position: absolute;
      top: 15px;
      left: 0px;
      z-index: 999;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    }
    &:after {
      position: absolute;
      top: 15px;
      right: 0px;
      z-index: 999;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    }
  }
  a {
    display: inline-block;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-shadow: 2px 2px 2px #ab4a40;
    color: #fff;
    text-decoration: none;
    &:hover {
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
}

.chose {
  a {
    color: #ffffff;
  }
  a[class^=icon] {
    background: forestgreen;
  }
  a[href$=pdf] {
    background: orange;
  }
  a[title*=more] {
    background: dodgerblue;
  }
}

.chose_not {
  div {
    padding: 10px 20px;
    min-height: 50px;
  }
  div:not([class="footer"]) {
    background: orange;
  }
}

.empty_show {
  p {
    min-height: 30px;
  }
  p:empty {
    border: 1px solid green;
  }
}

.target_show {
  a {
    color: blue;
  }
}

#tag {
  background: #eeeeee;
  color: #333333;
  &:target {
    background: #333;
    color: #ffffff;
  }
}

.child_show {
  width: 200px;
  border: 1px solid #333333;
  li {
    &:nth-child(2n) {
      background: #333333;
      color: #ffffff;
    }
  }
}

.type_show_1 {
  border: 1px solid #333333;
  div {
    background: greenyellow;
  }
  p {
    background: cornflowerblue;
    &:first-of-type {
      background: orange;
    }
  }
}
.type_show_2{
  border: 1px solid #333333;
  p{
    &:nth-of-type(2n){
      background: orange;
    }
  }
}
.post{
  border:1px solid #333333;
  margin-top: 10px;
  p:only-child{
    background: #333;
    color: #ffffff;
  }
}
.only_show{
  border:1px solid #333;
  margin-top: 20px;
  div{
    &:only-of-type{
      background: #333;
      color: #ffffff;
    }
  }
}
.able_show{
  div{
    margin: 20px;
  }
  input[type="text"]:enabled{
    background: #333;
    border:4px solid red;
    color: #ffffff;
  }
  input[type="text"]:disabled{
    background: #eeeeee;
    border:2px solid orange;
  }
}
.check_s{
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 30px auto;
  .check_show{
    margin-bottom: 10px;
    .box{
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      position: relative;
      border: 2px solid orange;
      vertical-align: middle;
      input{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        &[type="checkbox"]+span{
          display: none;
        }
        &[type="checkbox"]:checked+span{
          display: block;
        }
      }
      span{
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        background: orange;
        top: 50%;
        left:50%;
        margin: -5px 0  0 -5px;
        z-index:1;
      }
    }
  }
}
.selection{
  &::selection{
    background: orange;
    color: red;
  }
  &::-moz-selection{
    background: orange;
    color: red;
  }
}
.readonly{
  width: 300px;
  padding: 10px;
  border: 1px solid #cccccc;
  margin: 50px;
  div{
    margin-bottom: 10px;
  }
  input[type="text"]{
    border:1px solid orange;
    padding: 5px;
    background: #ffffff;
    border-radius: 10px;
    &:-moz-read-only{
      border-color: #cccccc;
    }
    &:read-only{
      border-color: #cccccc;
    }
    &:-moz-read-write{
      border-color: #eb444e;
      border-radius: 2px;
    }
    &:read-write{
      border-color: #eb444e;
      border-radius: 2px;
    }
  }
}